.header {
    background-color: var(--color-neutral-light-solid);
    border-bottom: 2px solid var(--color-primary);
    padding: 1rem 1.3rem;
    box-shadow: 0 2px 4px var(--color-primary);
    z-index: 1000;
  }

  .logo {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 2.2rem;
    transition: color 0.3s ease;
  }


  .nav-container{
    flex-grow: 0.4;
  } 
  

  .search-bar {
    margin-left: 2erm;
    width: 60%;
    padding: 10px 10px;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-small);
    outline: none;
    border: none;
  }