.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: space-between;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.half-height {
    height: 50%;
}

.full-height {
    height: 100%;
}

h1{
    font-family: 'Shadows Into Light', cursive;
    color: var(--linen);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}